.contactListItem {
  color: #ffff;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.contactIcon {
  width: 20px;
  fill: #a5d9d0;
  margin-right: 10px;
}

.contactListBtn {
  margin-left: 40px;
  background-color: #a5d9d0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 5px;
}

.contactListBtn:hover,
.contactListBtn:focus {
  background-color: #118470;
}
