.filterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterLabel {
  color: #dedede;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 20px;
}

.filterLabel:hover,
.filterLabel:focus {
  color: orange;
}

.filterInput {
  width: 280px;
  padding: 20px 30px;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  opacity: 0.5;
  outline: none;
  background: linear-gradient(
    109deg,
    rgba(201, 201, 201, 0.8) 1.57%,
    rgba(196, 196, 196, 0.1) 100%
  );
}
